*{margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav{
   background-color: #02918c;
}
a{
    color: white;
    display: inline-block;
    padding: 13.5px 25px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}